NODE_ENV='dev'

XYRO_MICRO_HTTP_PORT=3001

ORIGINS=["http://localhost:3000", "http://127.0.0.1:3000"]

JWT_SECRET="asdas-asd12-dasd"

DATABASE_URL="postgresql://postgres:postgres@localhost:6432/xxx?schema=public&connection_limit=10&connect_timeout=30"

REDIS_HOST="localhost"
REDIS_PORT=3379

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=http://localhost:3000/veify

TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_CALLBACK_URL=http://localhost:3000/oauth?social=twitter

COINS_PAID_KEY=
COINS_PAID_SECRET_KEY=
COINS_PAID_BASE_URL=

BINANCE_API_KEY=
BINANCE_API_SECRET=

AWS_ACCESS_KEY='username'
AWS_SECRET_ACCESS_KEY='password'
AWS_S3_BUCKET='xxx'
AWS_S3_ENDPOINT='http://localhost:9000'
AWS_REGION='us-east-1'
# max one week
AWS_S3_EXPIRES_IN=60000 

AWS_KEYSPACES_ACCESS_KEY='xyz'
AWS_KEYSPACES_SECRET_ACCESS_KEY='password'
AWS_KEYSPACES_ENDPOINT='localhost:9042'
AWS_KEYSPACES_PORT=9042
AWS_KEYSPACES_REGION='datacenter1'
