NODE_ENV='dev'
PORT=3108

LOGGER='LOCAL'

GRPC_PRICES_SERVICE_URL='localhost:3202'

REDIS_PORT=3379
REDIS_HOST="localhost"

DATABASE_URL="postgresql://postgres:postgres@localhost:6432/xyro?schema=public&connection_limit=10&connect_timeout=30"

KAFKA_BROKER_1='localhost:9092'
KAFKA_BROKER_2=
KAFKA_BROKER_3=


